In [ ]:
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
from awsglue.utils import getResolvedOptions
from awsglue.transforms import Map, DropFields, ApplyMapping

sc = SparkContext()
context = GlueContext(sc)

In [ ]:
path = "s3://network.cubo.datalake/airtable/raw/prod/"
path = path + "2022-12-29-15-21-18/data/"
path = path + "Selo Cubo Startups/Selo Cubo 2023/üìù Respostas Selo Cubo/"
print(path)
dataframe = context.create_dynamic_frame.from_options(
                connection_type='s3',
                connection_options={
                    'paths': [path],
                    'recurse': True
                },
                format='json'
            )
dataframe.count()

In [ ]:
dataframe.printSchema()

In [60]:
def recItem(ref):
    ref["faturamento_2022"] = 1
    return ref

newDf = dataframe.apply_mapping([(
    "fields.Faturamento 2022", "faturamento_2022"
)])
newDf2 = newDf.unnest()
newDf2.toDF().show(truncate=False)
# newDf1 = newDf.toDF()

# from pyspark.sql.functions import col
# # newDf1 = dataframe.toDF()
# # newDf1.filter(col("fields.Faturamento 2022").isNotNull()).show()
# # newDf2 = newDf1.filter(col("faturamento_2022").isNotNull())
# # newDf2.printSchema()
# newDf2 = newDf1
# newDf2.printSchema()
# newDf2.show(truncate=False)

+-----------------------+
|faturamento_2022       |
+-----------------------+
|{null, 8500000, null}  |
|{null, 34000000, null} |
|{null, 2400000, null}  |
|{null, 2500000, null}  |
|{null, 8550000, null}  |
|{null, 1068732, null}  |
|{null, 1920000, null}  |
|{null, 270000, null}   |
|{null, 340000, null}   |
|{null, 1100000, null}  |
|{null, 2000000, null}  |
|{null, 4300000, null}  |
|{null, 5000000, null}  |
|{null, 10000000, null} |
|{null, 3500000, null}  |
|{null, 2400000, null}  |
|{null, 1850000, null}  |
|{null, 1050000, null}  |
|{null, 4300000, null}  |
|{null, 430000000, null}|
+-----------------------+
only showing top 20 rows